<main>

    <div class="controlContainer">

        <div onclick="javascript:location.href='/admin/create/quiz'" class="control">

            <i class="ph ph-list-plus"></i>

            <p>Criar quiz</p>
            
        </div>

        <div onclick="javascript:location.href='/admin/quizzes'" class="control">

            <i class="ph ph-article"></i>

            <p>Quizzes</p>
            
        </div>

        <div onclick="javascript:location.href='/admin/users'" class="control">

            <i class="ph ph-users"></i>

            <p>Perfis</p>
            
        </div>
                
    </div>
    
</main>