<div class="overlay none"></div>

<div class="modal view-image none">

    <div class="buttons-wrapper">

        <h4 class="modalTitle">Modo de visualização</h4>

        <div class="close-button">

            <i class="ph ph-x"></i>
        
        </div>

    </div>

    <img src="" alt="imagem da questão.">
    
</div>

<script src="/js/isThereAnImage.js"></script>