
/* MediaQueries */


@media (max-width:921px) {

    main{
        padding: 2rem;
    }
    
    .questionWrapper{
        width: 100%;
    }

    .questionImage{
        width: 100%;
    }

    .questionsUl {
        padding: 4rem 1rem 1rem 1rem;
    }

    .modal.view-image{
        width: 90%            
    }

    .quizData{
        gap: 1rem;
        flex-direction: column;
    }

    .cardsWrapper{
        display: flex;
        flex-direction: column;
    }
    
    .card{
        height: fit-content;
      
    }

    .quizControls{
        margin-top: 1.4rem;
        display: flex;
        flex-direction: column;
    }

    .quizControls button{
        width: 100%;
    }
    
    .homeTitle{
        font-size: 2.6rem;
    }

    .userName{
        font-size: 2.6rem;
    }

    
    .statistics .wrapper{
        width: 100%;
        display: flex;
        gap: 4rem;
        flex-direction: column;
        justify-content: center;
    }
    .graphics{
        width: 100%;
    }

    .graphicName{
        font-size: 2rem
    }

    .profileContainer{
        height: 12rem;
    }
    
    .imageContainer{
        height: 14rem;
        width: 14rem;
        top: 32%;
    }
    
    .user-form{
        padding: 2rem 0;

        .title{
            font-size: 2.4rem;
        }
    }

    
}