<main>

    <div class="user-form">
            
     <h1 class="title">Bem-vindo novamente :)</h1>

        <form action="/login" method="post" class="form">
            
            <div class="inputWrapper">

                <label for="email">Email:</label>

                <input type="email" name="email" id="email">
                
            </div>

            <div class="inputWrapper">

                <label for="password">Senha:</label>

                <input type="password" name="password" id="password">
                
            </div>

            <button class="btn btn-register">Entrar</button>


            <p class="alreadyHaveAnAccount">Não tem uma conta? <span onclick="javascript:location.href = '/register'">Registre-se</span></p>
            
        </form>
        
    </div>
    
</main>